li {
    display: inline;
    color: #7b0dce;
    border-bottom: 0;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: capitalize;
    padding-right: 50px;
                                 
      }

body {
  background-image: url("https://chemaxon.com/hs-fs/hubfs/Spot%20images/Spot%20Image%2016.png?width=1893&height=1537&name=Spot%20Image%2016.png");
  background-size: 250ch;
  background-position: 250ch;
}

h1 {
  text-align: center;
  margin-top: 15px;
  color: hsl(150, 17%, 98%);
}
h2 {
  text-align: center;
  margin-top: 15px;
  color: hsl(194, 65%, 82%);
}

form {
  width: 400px;
  height: 720px;
  margin: 20px;
  background-color: #4e98ab;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(128, 184, 43, 0.2);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #eef3f2;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  box-sizing: border-box;
}
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #140d9f;
  font-size: large;font-weight: bold;
  color: #eaeeea;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0f7d4f;
}
p {
  color: #1c4af0ae;
  padding-left: 2%;
  font-style: italic;
  

  }